:root {
    --fondo: #222222;
    --texto: #f2f2f2;
    --border: 3px solid #3B4B6A;
    --BorderShadow: 0 0 7px rgb(75, 131, 177);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--fondo);
    color: var(--texto);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    gap: 10px;
    margin: auto;
}

legend {
    font-size: 9vw;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
}

input {
    margin: 10px;
    border: var(--border);
    box-shadow: var(--BorderShadow);
    padding: 8px;
}

button {
    width: 40vw;
    height: 7vh;
    margin: 10px;
    background-color: #385288;
    border: none;
    color: var(--texto);
    cursor: pointer;
    font-size: 1em;
}

select {
    text-align: center;
    width: 80vw;
    height: 5vh;
}

@media (min-width: 800px) {
    form {
        gap: 8px;
    }

    button {
        width: 20vw;
    }

    legend {
        font-size: 7vw;
        margin-bottom: 25px;
    }

    label {
        font-size: 2em;
    }

    input {
        width: 30vw;
        height: 6vh;
    }
}