{% extends "baseAdministrador.html" %}
{% block title %} Perfil Administrador {% endblock %}

{% block content %}


<div>
    <p>Bienvenido al perfil de administrador. Aquí puedes gestionar profesores y acceder al centro estadístico.</p>
    <p>el numero de profesores es: 200</p>
    <p>el numero de estudiantes es: 1000</p>
</div>

<div>
    <p>mejores profesores:</p>
    <ul>
        <li> Jaja xd</li>
        <li> Profesor Ejemplo</li>
        <li> Otro Profesor</li>
    </ul>
</div>

{% endblock %}