<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', path='administrador.css') }}">
{% endblock %}

    <link rel="icon" href="{{ url_for('static', path='favicon.png') }}" type="image/x-icon">
    <title>{% block title %}EvaJav{% endblock %}</title>
</head>
<body>
    {% block nav %}
    <nav>
        <a href="/inicio-sesion" class="btn-back">Volver</a>
        <ul>
            <li><a href="/administrador">Inicio</a></li>
            <li><a href="/gestionProfesores">Gestión de Profesores</a></li>
            <li><a href="/centroEstadistico">Centro Estadístico</a></li>
        </ul>
    </nav>
    {% endblock %}
    <main class="content">
        {% block content %}{% endblock %}
    </main>
</body>
</html>