{% extends "base.html" %}
{% block title %} ¿A quién quieres evaluar? {% endblock %}
{% block script %} <script src="../static/js/cal_plataform.js" defer></script> {% endblock script %}
{% block content %}

    <nav class="nav">
        <div class="brand">Evaluación <span>Docente</span></div>
        <div class="nav-links">
                <a href="/inicio-sesion" class="btn-back">Volver</a>
                <span class="nav-user">Juan Pérez</span>
            
        </div>
    </nav>

<main class="wrap ">
    <form id="calification" action="/calificaElProfesor" method="post">
        <input class="input" type="hidden" name="maestro" value="{{ maestro }}">
        <h2>Evaluando a: {{ maestro }}</h2>

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

    <div class="card center">
        <label for="explicationsTopics">Explicación del tema</label>
            <select class="input" id="explicationsTopics" name="explicationsTopics" required>
                <option value="">Nota</option>
                <option value="Malo">Malo</option>
                <option value="Regular">Regular</option>
                <option value="Bien" >Bien</option>
                <option value="Excelente">Excelente</option>
            </select>


        <label class="track" for="actitudinal">Actitudinal </label>



            <select class="input" id="actitudinal" name="actitudinal" required>
                <option value="">Nota</option>
                <option value="Malo">Malo</option>
                <option value="Regular">Regular</option>
                <option value="Bien">Bien</option>
                <option value="Excelente">Excelente</option>
            </select>


        <label for="classActivity" class="track">Actividades de clase</label>


            <select class="input" id="classActivity" name="classActivity" required>
                <option value="">Nota</option>
                <option value="Malo">Malo</option>
                <option value="Regular">Regular</option>
                <option value="Bien">Bien</option>
                <option value="Excelente">Excelente</option>
            </select>
            <button class="btn" type="submit">Enviar</button>
        </div>
</main>

<footer class="foot">Tus respuestas son anónimas: los reportes solo muestran promedios.</footer>
</form>

{% endblock %}