{% extends "base.html" %}

{% block title %}¿A quién vas a sacar?{% endblock %}

{% block content %}



    <form>
        <legend>
           fabio
        </legend>
        
            
        <label >¿A quién quieres sacar?</label>
            <select>
                <option value="">eliga al desafortunado</option>
                <option value="pacho">pacho</option>    
                <option value="sanbra">sanbra</option>
                <option value="lili">lili</option>
            </select>
                
        <button>sacar</button>

{% endblock %}