{% extends "baseAdministrador.html" %}
{% block title %} elige el Profesor {% endblock %}

{% block content %}

<form action="/login" method="POST">
    <nav class="nav">
        <div class="brand">Evaluación <span>Docente</span></div>
        <div class="brand">Parte administrativa</div>
    </nav>
</form>

<div class="card">
        <label for="gestionProfesores">Gestionar Profesores</label>
        <select id="gestionProfesores" name="gestionProfesores">
            <option value="">Elige un profesor</option>
            <option value="Lenny">Lenny</option>
            <option value="Erika">Erika</option>
            <option value="Fredy">Freddy</option>
            <button type="submit">seguir</button>
        </select>
</div>

{% endblock %}