{% extends "base.html" %}
{% block title %}Evalua Javiera{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', path='index.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', path='js/index.js') }}"></script>
{% endblock %}

{% block content %}

    <form action="/login" method="post">

        <legend>EVAJ</legend>

            {% if error %}
            <p style="color: red;">Credenciales incorrectas</p>
            {% endif %}

            <label for="email">Email</label>
            <input id="email" name="email" type="text" placeholder="Correo electrónico" required>
            <label for="contrasenna">Contraseña</label>
            <input id="contrasenna" name="contrasenna" type="password" placeholder="Contraseña" required>
            <button>Ingresar</button>

    </form>
 
{% endblock %}





