{% extends "base.html" %}
{% block title %}Evalua Javiera{% endblock %}

{% block content %}

    <main class="wrap narrow">
        <form class="card" action="/login" method="post">

            <legend class="kicker">EVAJ</legend>
            
            <label for="username">Usuario</label>
            <input class="input" id="username" name="username" type="text" placeholder="Documento" required>
            <label for="password">Contraseña</label>
            <input class="input" id="password" name="password" type="password" placeholder="Contraseña" required>
            <button class="btn" type="submit">Ingresar</button>

        </form>
    </main>
 
{% endblock %}





