{% extends "base.html" %}
{% block title %}¿A quién vas a evaluar?{% endblock %}

{% block content %}



    <form id="Selectormestro">
        <legend>
            David Gomez Arteaga
        </legend>
        
            
        <label for="maestro" >¿A quién quieres evaluar?</label>
            <select id="maestro" name="maestro">
                <option value="">Elige a un maestro</option>
                <option value="Lenny">Lenny</option>    
                <option value="Erika">Erika</option>
                <option value="Fredy">Freddy</option>
            </select>
                
        <button type="submit" >seguir</button>

{% endblock %}


