:root{
    --fondo: #222222;
    --texto: #f2f2f2;
    --border: 3px solid #3B4B6A;
    --BorderShadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

* {
    color: var(--texto);
    background: var(--fondo);
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    border-radius: 3em;
    font-family: sans-serif;
}

form {
    width: 90vw;
    height: 90vh;
    gap: 10px;

}

title{
    font-size: 0;
    padding: 0;
    margin: 0;
    color: var(--fondo);

}

input {

    margin: 10px;
    border: var(--border);
    box-shadow: var(--BorderShadow);
}

legend {
    font-size: 9vw;
    margin-bottom: 20px;
}

button {
    width: 40vw;
    height: 5vh;
    margin: 10px;
    box-shadow: var(--BorderShadow);
    background-color:#385288;
}

select{
    text-align: center;
    width: 80vw;
    height: 5vh;
}
