:root{
    --fondo: #222222;
    --texto: #f2f2f2;
    --border: 3px solid #3B4B6A;
    --BorderShadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

* {
    color: var(--texto);
    background: var(--fondo);
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    border-radius: 3em;
}

form {
    width: 90vw;
    height: 90vh;

}

input {

    margin: 10px;
    border: var(--border);
    box-shadow: var(--BorderShadow);
}

legend {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    width: 50%;
    height: 5%;
    margin: 10px;
    box-shadow: var(--BorderShadow);
}